# Day 3

# fuction:

In [2]:
# simple 
# code reusability

### Syntax:
    -def functionname(arguments):
        -statments
        -return

In [3]:
# input: 1234
#output: 6(2+4)
def Even(n):
    s=0
    while n!=0:
        r=n%10 #1234%10=4
        if r%2==0:
            s=s+r
        n=n//10
    print(s)
Even(1234)

6

In [4]:
# input : 19535
#output :9
# extarct the biggest digt from a given number
def biggest(n):
    large=0
    while n!=0:
        r=n%10
        if large<r:
            large=r
        n=n//10
    return large              # We can return multiple values using return 
l=biggest(19535)        #string the result of the function into l
l                         # printing the value of l

9

In [5]:
#factorial of a number
#strong number:145 = 1!+4!+5!
#palindrome

## Collection types:

-1.List
-2.Tuple
-3.Set
-4.Dictionary

## List:
- One of the data structure is available in python
- List is enclosed in []
- Elements in list are separtated by a comma(,)

In [8]:
list1=[1,1.2,"abc"]
print(list1)
type(list1)

[1, 1.2, 'abc']

list

In [32]:
#indexing
l=[1,5,6,8,2]              # positive  will print from left 
print(l[0])                # negitive will print form right
print(l[1])
print(l[2])
print(l[-3])
print(l[-4])

#slicing for printing a range of numbers
l=[1,5,6,8,2]           
print(l[0])             
print(l[0:3])
print(l[1:4])
print(l[0:4:2]) #skipping [a:a:T] t= skipping
print(l[-1:])
print(l[-4:])    # stop value we are not specifing that why directly output is printing

1
5
6
6
5
1
[1, 5, 6]
[5, 6, 8]
[1, 6]
[2]
[5, 6, 8, 2]

In [37]:
l= [1,2,3,5,6,7,8]
print(l[-3])
print(l[-3:-1])
print(l[::2])
print(l[2:-4])
print(l[::3])   #[1,5,8]

6
[6, 7]
[1, 3, 6, 8]
[3]
[1, 5, 8]

In [45]:
## Basic fuction of list:
l=[1,4,7,8,9]
print(max(l))
print(min(l))
print(sum(l))
print(len(l))
print(sum(l)/len(l))   # to find average

9
1
29
5
5.8

In [57]:
l=[1,4,7,8,9]
l1=[1,2,3,4,5]
l[0]="vardhan"
l[4]=5  # updating
del l[4] #deleting 
del l1   #deleting entire list
l

['vardhan', 4, 7, 8]

In [63]:
# Basic list operations
l=[1,3,5,7,9]
print(l)              
print(l*2) # repeating list twice
print(2 in l)
print(9 in l)
print(4 not in l)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 1, 3, 5, 7, 9]
False
True
True

In [68]:
#to access the elements iterations through iterations
print(l)
for i in l:            #for loop in use
    print(i, end=" ")

[1, 3, 5, 7, 9]
1 3 5 7 9

In [70]:
range (len(l))

range(0, 5)

In [71]:
for i in range(len(l)):
    print(l[i])      #displaying the numbers in the index

1
3
5
7
9

In [75]:
#List method:
l1=[2,4,5,5,6,1]
l1.append("python")            # adding(indivisualy) to the end of the list 
print(l1)

[2, 4, 5, 5, 6, 1, 'python']

In [79]:
l2=[1,2,3,4,5,5,6]
l2.insert(1,"vardhan")   #inserting the value at a particular index
l2

[1, 'vardhan', 2, 3, 4, 5, 5, 6]

In [80]:
l2.count(5)  # returns the count of the value

2

In [81]:
l2.index("vardhan")   # finiding the index of a value

1

In [83]:
l2.pop(1)   #removes last value of the end of the list....   6,vardhan is removed from list
l2

[1, 2, 3, 4, 5, 5]

In [86]:
print(l2)
li= ["vardhan","reddy"]
print(li)
l2.extend(li)         #to add all the list to another list
l

[1, 2, 3, 4, 5, 5, 'vardhan', 'reddy']
['vardhan', 'reddy']

[1, 3, 5, 7, 9, 'python', 'python']

In [88]:
l=[1,33,88,99,55,77]
print(l)
l.sort()      # for sorting values 
print(l)

[1, 33, 88, 99, 55, 77]
[1, 33, 55, 77, 88, 99]

In [90]:
l.reverse()       #printing the list in reverse order 
l

[99, 88, 77, 55, 33, 1]

In [94]:
# Function to print the biggest number from the list
n=[]
n=input("Enter the list")
print(max(n))

Enter the list183736363838
8

In [3]:
#another program
def largestnumber(l,n):
    l.sort()
    return l[n]
l=[1,4,6,77]
largestnumber(l,-3)   # to print 3rd largest number

4

## Tuples:
    -Tuples are enclosed in paranthsis
    -Tuples are immuatble (values inside a tuples a tuples cant be changed)
    -only for read only
    -modifications are possible in tuples
## Different between tuples and list 
    -list can be modified whereas a tuple cant be modified
    -only indexing and slicing can be used in tuples whereas other fuction can also be used in tuples
    -list->[]  tuples->()
    -list is mutable whereas tuple is immutable
    -list are more faster than tuples

In [4]:
t1 =(1,6.45,"python")      # Hetero-data-typed
print(t1)
print(type(t1))

(1, 6.45, 'python')
<class 'tuple'>

In [5]:
t1[0:2] #printing

(1, 6.45)

In [7]:
t1[0]="Gitam"   #in tuples we cant do any modification and delete operaion

TypeError: 'tuple' object does not support item assignment

In [8]:
help('tuple')

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
help('type any thing for help')

### Dictionary:
    -Dictionaries are enclosed in {}
    -It consists of key values pairs 
    -Each key is seperated to its value by a colon(:)
    -Each key value pair is sepearted with other pairs by comma(,)
    -Keys must be unique ehile creating any dictionary

In [2]:
d1={"Name":"vardhan","Email id":"gitam@gmail.com","Address":"HYDERABAD"}
print(d1)
print(type(d1))

{'Name': 'vardhan', 'Email id': 'gitam@gmail.com', 'Address': 'HYDERABAD'}
<class 'dict'>

In [15]:
d1["Name"]    #to print sepicific value

'vardhan'

In [19]:
d1["Email id"]="python@gmail.com"  #update the value
d1

{'Name': 'vardhan', 'Email id': 'python@gmail.com', 'Address': 'HYDERABAD'}

In [3]:
d1["Course"]="python"            # to adding new pair to the dic
d1

{'Name': 'vardhan',
 'Email id': 'gitam@gmail.com',
 'Address': 'HYDERABAD',
 'Course': 'python'}

In [4]:
del d1['Address']

In [5]:
d1

{'Name': 'vardhan', 'Email id': 'gitam@gmail.com', 'Course': 'python'}

In [6]:
d1.keys() # return the keys

dict_keys(['Name', 'Email id', 'Course'])

In [7]:
d1.values()  #return the values

dict_values(['vardhan', 'gitam@gmail.com', 'python'])

In [8]:
d1

{'Name': 'vardhan', 'Email id': 'gitam@gmail.com', 'Course': 'python'}

## Strings:

In [15]:
s= "python"
print(s[0])
print(s[1])
print(s[0:4])            #slicing 
print(s[0:4:2])          #skipping
print(s[0:-5])
print(s[:-1])
print(s[::-1])           #reverse the string

p
y
pyth
pt
p
pytho
nohtyp

In [16]:
# fuction to check for plaindrome of a string

In [18]:
def palindrome(s):
    if s==s[::-1]:
        print("palindrome")
    else:
        print("Not a palindrome")
palindrome("MOM")

palindrome

# String methods:
    -join() Method to con

In [19]:
s1="python"
print(",".join(s1))

p,y,t,h,o,n

In [20]:
#split:
s3= "Python programming is a easy to learn"
print(s3.split())

['Python', 'programming', 'is', 'a', 'easy', 'to', 'learn']

In [21]:
#split:by occurance of a
s3= "Python programming is a easy to learn"
print(s3.split('a'))

['Python progr', 'mming is ', ' e', 'sy to le', 'rn']

In [23]:
#replace:
s3
print(s3.replace("programming","application"))

Python application is a easy to learn