# Python
    - Topic covered
         - Operators
         - Datatypes
         - Conditional statements

    **Python** #bold
    *python* #italic
    ***Python***  #bold,italic

In [2]:
print("Hello world")

Hello world

# python
## python
### python
#### python
##### python
###### python

In [3]:
print("vardhan")
print("vardhan")

vardhan
vardhan

In [4]:
print("vardhan",end="@")
print("vardhan")
print("vardhan")

vardhan@vardhan
vardhan

In [5]:
print("vardhan",end="@")
print("vardhan",end=" ")
print("vardhan")

vardhan@vardhan vardhan

# variables

# Also called as indentifier

In [6]:
int a=10;
a

SyntaxError: invalid syntax (<ipython-input-6-271166f286ec>, line 1)

In [7]:
a=10
a

10

In [8]:
a=10 
a

10

In [9]:
a*2

20

In [10]:
## keyword can not used as variable

In [11]:
a=10
print(a)
a*2

10

20

In [12]:
b=20

In [13]:
a+b

30

In [14]:
name="vardhan reddy"
print("Student name :-",name)

Student name :- vardhan reddy

In [22]:
name="vardhan reddy"
branch="CSE"
print("Student name :-",name)
print("department:-",branch)

Student name :- vardhan reddy
department:- CSE

In [23]:
input ("hi vardhan")

hi vardhan43

'43'

In [ ]:
int(input("hi rockstar"))

In [ ]:
a

In [ ]:
b

In [ ]:
a=

In [ ]:
print(a)

In [1]:
a=input
print(a)
type(a)

<bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x000001DC5F917748>>

method

In [ ]:
input("hi vardhan")

In [ ]:
clear

In [ ]:
int(input('ROLL number'))

ROLL number43

# Fundamental type
### int,
### float
### complex
### boolean
### string

In [7]:
x =6
y =7
z=3+6j
print(type(x),type(y),type(z))

<class 'int'> <class 'int'> <class 'complex'>

In [8]:
x+y

13

In [9]:
c= complex(2,4)
c

(2+4j)

In [11]:
a= complex(y)
a

(7+0j)

# Boolean
### true
### false

In [12]:
x= "a"
y= "Python"
print(type(x))
type(y)

<class 'str'>

str

In [16]:
i=100
print(type(i))
j=str(i)
type(j)

<class 'int'>

str

In [18]:
a="100"
print(type(a))
b=float(a)
type(b)
b

<class 'str'>

100.0

# Opertors
## 1.arithmatic     operators:- +,-,*,/,%,//**
## 2.Logical          operators:- and,or,not
## 3.Relational     operators:- ==,<,>,<=,>=,!=
## 4.Membership operators:- in & not in

In [22]:
x= 3
y= 5
print(x+y)
print(x-y)
print(x*y)
print(x%y)
print(x//y)
print(x**y)

8
-2
15
3
0
243

In [20]:
x+y

8

# logical operators

In [26]:
#logical operators
a=20
b=30
print(a>=10 and b<=15)

False

In [28]:
# Relational operator

print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a!=b)

False
True
True
False
True

In [30]:
# membership operators

str1="abc"
print("c"in str1)
print("c" not in str1)

True
False

# conditionial statements
## 1. if(used for a single condition)
## 2. if-else(used when we have two condtion)
## 3.elif(multiple condition)

In [42]:
#check for odd and even number
n=int(input("Enter a number \n"))
if n%2!=0:
    print("odd")
else:
    print("Even")

Enter a number
12222
Even

In [44]:
# check for divisible of 3 and 5
n=int(input("Enter a number \n"))
if (n%3==0)and(n%5==0):
    print("Yes it is divisible")
else:
    print("Not divisible")

Enter a number
15
Yes it is divisible

In [49]:
# take 3 input numbers and check wheather it is positive or negative
n=int(input("Enter a number"))
if (n==0):
    print("zero")
elif (n>0):
    print("Positive")
else:
    print("negitive")

Enter a number5
Positive

In [55]:
# take 3 input numnbers and check wheather it is graetest number
n=int(input("Enter a number"))
q=int(input("Enter a number"))
p=int(input("Enter a number"))
if(n>p)and(n>q):
    print("n is greatest")
elif(p>n)and(p>q):
    print("p is greatest")
else:
    print("q is greatest")

Enter a number1
Enter a number2
Enter a number3
p is greatest

In [62]:
# leap year or not
q=int(input("Enter a number"))
if(q%4==0 and q%100!=0):
    print("leap year")
elif(q%400==0):
    print("leap year")
else:
    print("Not a leap year")

Enter a number2016
leap year